<footer class="pg-footer">
	<div class="bg-dark">
	  <div class="container pg-footer-padding">
	    <p class="pg-text-white h6">
	      <a class="pg-text-white pg-nolink" href="/"><b>Contact Us</b></a> |
	      <a class="pg-text-white pg-nolink" href="/"><b>FAQ</b></a>
	    </p>
	    <p class="pg-text-white">&copy; Copyright 2018, All Rights Reserved. |
	      <a class="pg-nolink" href="/">Terms of Use</a> |
	      <a class="pg-nolink" href="/">Privacy Policy</a>
	    </p>
	  </div>
	</div>
</footer>