<nav class="navbar navbar-dark bg-dark navbar-expand flex-column flex-md-row fixed-top">
  <a class="navbar-brand" href="/">Logo</a>
  <div class="pg-scrollable">
    <ul class="navbar-nav flex-row pg">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">About&nbsp;us</a>
      </li>
      <li *ngIf="!sharedService.user" class="nav-item">
        <a class="nav-link" (click)="regs()" routerLink="/register">Register</a>
      </li>
      <li *ngIf="!sharedService.user" class="nav-item">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      <li *ngIf="sharedService.user" class="nav-item">
        <a class="nav-link dropdown-toggle pg-nolink" data-toggle="dropdown" href="/">My&nbsp;Profile</a>
        <ul>
          <li class="dropdown-menu">
            <a class="dropdown-item pg-nolink" routerLink="#">Account&nbsp;settings</a>
            <a class="dropdown-item pg-nolink" routerLink="#">Log&nbsp;out</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
    <li *ngIf="!sharedService.user" class="nav-item">
      <a class="nav-link" (click)="attRegs()" routerLink="/register">Register&nbsp;as&nbsp;an&nbsp;attorney</a>
    </li>
<!--     <li class="nav-item">
      <a class="nav-link pg-nolink" routerLink="#"><i class="fab fa-facebook"></i> FaceBook</a>
    </li>
    <li class="nav-item">
      <a class="nav-link pg-nolink" routerLink="#"><i class="fab fa-twitter"></i> Twitter</a>
    </li> -->
  </ul>
</nav>