<div id="container">
<!-- nav bar -->
<nav class="navbar navbar-dark bg-dark navbar-expand flex-column flex-md-row fixed-top">
  <a class="navbar-brand" href="">Logo</a>
  <div class="pg-scrollable">
    <ul class="navbar-nav flex-row pg">
      <li class="nav-item">
        <a class="nav-link" href="">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">About&nbsp;us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="">My&nbsp;Profile</a>
        <ul>
          <li class="dropdown-menu">
            <a class="dropdown-item" href="">Account&nbsp;settings</a>
            <a class="dropdown-item" href="">Log&nbsp;out</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
    <li class="nav-item">
      <a class="nav-link" href="">Are&nbsp;you&nbsp;an&nbsp;attorney?</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href=""><i class="fab fa-facebook"></i> FaceBook</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href=""><i class="fab fa-twitter"></i> Twitter</a>
    </li>
  </ul>
</nav>
<!-- content -->
<div id="body">
	<div class="container pg-border pg-margin-top">
	   <div *ngIf="errorFlag" class ="alert alert-danger">We don't have any accounts associated with this email address</div>
	  <form (ngSubmit)="login()" #f="ngForm">
	    <div class="form-group">
	      <label>Password recovery</label>
	      <div class ="alert alert-warning pg-small-alert" *ngIf ="email.invalid && email.touched">Please enter email address</div>
	      <input type="email" name="email" placeholder="Enter email" class="form-control" required ngModel #email="ngModel">
	    </div>
	    <div class="text-center">
	      <button class="btn btn-primary" [disabled]="f.invalid" type ="submit">Send me a temporary password</button>
	    </div>
	  </form>
	</div>
</div>
<!-- footer -->
<footer class="pg-footer">
	<div class="bg-dark">
	  <div class="container pg-footer-padding">
	    <p class="pg-text-white h6">
	      <a class="pg-text-white" href=""><b>Contact Us</b></a> |
	      <a class="pg-text-white" href=""><b>FAQ</b></a>
	    </p>
	    <p class="pg-text-white">&copy; Copyright 2018, All Rights Reserved. |
	      <a href="">Terms of Use</a> |
	      <a href="">Privacy Policy</a>
	    </p>
	  </div>
	</div>
</footer>
</div>
