<div id="body">
	<div class="container pg-border pg-margin-top">
	   <div *ngIf="errorFlag" class ="alert alert-danger">We don't have any accounts associated with this email address</div>
	  <form (ngSubmit)="recovery()" #f="ngForm">
	    <div class="form-group">
	      <label>Password recovery</label>
	      <div class ="alert alert-warning pg-small-alert" *ngIf ="email.invalid && email.touched">Please enter email address</div>
	      <input type="email" name="email" placeholder="Enter email" class="form-control" required ngModel #email="ngModel">
	    </div>
	    <div class="text-center">
	      <button class="btn btn-primary" [disabled]="f.invalid" type ="submit">Send me a temporary password</button>
	    </div>
	  </form>
	</div>
</div>