<div id="body">
	<div class="container pg-border pg-margin-top">

	<div class="row">
	  <div class="col-lg-6">
	    <div class="input-group">
	      <input type="text" class="form-control" placeholder="Search for...">
	      <span class="input-group-btn">
	        <button class="btn btn-primary" type="button">Go!</button>
	      </span>
	    </div><!-- /input-group -->
	  </div><!-- /.col-lg-6 -->
	</div><!-- /.row -->

	  <form>
	    <div class="form-group">
	      <label>Home</label>
	      <input type="text" name="email" class="form-control">
	    </div>
	  </form>

	</div>
</div>
