<div id="container">
<!-- nav bar -->
<nav class="navbar navbar-dark bg-dark navbar-expand flex-column flex-md-row fixed-top">
  <a class="navbar-brand" href="">Logo</a>
  <div class="pg-scrollable">
    <ul class="navbar-nav flex-row pg">
      <li class="nav-item">
        <a class="nav-link" href="">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">About&nbsp;us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="">My&nbsp;Profile</a>
        <ul>
          <li class="dropdown-menu">
            <a class="dropdown-item" href="">Account&nbsp;settings</a>
            <a class="dropdown-item" href="">Log&nbsp;out</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
    <li class="nav-item">
      <a class="nav-link" href="">Are&nbsp;you&nbsp;an&nbsp;attorney?</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href=""><i class="fab fa-facebook"></i> FaceBook</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href=""><i class="fab fa-twitter"></i> Twitter</a>
    </li>
  </ul>
</nav>
<!-- content -->
<div id="body">
<div class="container pg-border pg-margin-top">
	<div class="row">

		<div class="col-md-3">
			<img src="" alt="profile pic">
      <div>
      <a class="text-center" href="">Edit</a>
      </div>
		</div>

		<div class="col-md-7 pg-vertical-line pg-vertical-line2 d-md-flex">	
			<div>
        <label>Name</label>
        <p>{{user.firstName}} {{user.lastName}}</p>
        <label>Email</label>
        <p>{{user.email}}</p>

        <div style="display: none">
          <label>Office Information</label>
          <p>{{user.office}} <br> {{user.address}} {{user.city}}, {{user.state}} <br>Tel: {{user.phone}} <br> {{user.site}}</p>
          <label>Area of expertise</label>
          <p>{{user.area1}}, {{user.area2}}</p>
        </div>
        
        <label>About me</label>
        <p>{{user.bio}}</p>
        <a class="text-center" href="" data-toggle="modal" data-target="#bioModal">Edit</a>
			</div>
		</div>

		<div class="col-md-2 pg-vertical-line4">	
				<div>
					<img src="" alt="badge pic">
				</div>
        <br>
        <div>
          <p style="font-size: 12px">Earn badges everytime someone "like" or comments on your reviews</p>
        </div>
		</div>

	</div>
</div>
</div>

<!-- Bio Modals -->
<div class="modal fade" id="bioModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Biography</h5>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="update()">
          <div class="form-group">
            <textarea class="form-control" type="text" name="bio" [(ngModel)]="user.bio" rows="5">
            </textarea>
          </div>
          <div class="text-center">
            <button class="btn btn-danger">Cancel</button>
            <button class="btn btn-success">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- footer -->
<footer class="pg-footer">
  <div class="bg-dark">
    <div class="container pg-footer-padding">
      <p class="pg-text-white h6">
        <a class="pg-text-white" href=""><b>Contact Us</b></a> |
        <a class="pg-text-white" href=""><b>FAQ</b></a>
      </p>
      <p class="pg-text-white">&copy; Copyright 2018, All Rights Reserved. |
        <a href="">Terms of Use</a> |
        <a href="">Privacy Policy</a>
      </p>
    </div>
  </div>
</footer>
</div>
