<div data-type="template" class="row form-group">
	<div class="col-sm-1"></div>
	<label class="col-sm-2"></label>
	<div class="col-sm-9 input-group mb-3">
	  <select class="form-group input-group form-control">
	    <option value="">--Select area of expertise--</option>
	    <option value="">Admiralty (Maritime) Law</option>
	    <option value="">Bankruptcy Law</option>
	    <option value="">Business (Corporate) Law</option>
	    <option value="">Civil Rights Law</option>
	    <option value="">Criminal Law</option>
	    <option value="">Entertainment Law</option>
	    <option value="">Environmental Law</option>
	    <option value="">Family Law</option>
	    <option value="">Health Law</option>
	    <option value="">Immigration Law</option>
	    <option value="">Intellectual Property Law</option>
	    <option value="">International Law</option>
	    <option value="">Labor (Employment) Law</option>
	    <option value="">Military Law</option>
	    <option value="">Personal Injury Law</option>
	    <option value="">Real Estate Law</option>
	    <option value="">Tax Law</option>
	  </select>
	<div class="input-group-append">
	  <button class="pg-add-btn btn-outline-danger delete-btn" type="button" (click)="removeArea()">- Remove</button>
	</div>
	</div>
</div>