<div id="body" class="small">
	<div class="pg-empty-style"></div>
	<div class="pg-grey-style">
		<input id="name" type="text" [(ngModel)]="this.sharedService.item.name" placeholder="Search by Name" (keyup)="onKey($event.target.value)"/>
		<input id="city" type="text" [(ngModel)]="this.sharedService.item.city" placeholder="Search by City" (keyup)="onKey($event.target.value)"/>
<!-- 		<input id="state" type="text" [(ngModel)]="this.sharedService.item.state" placeholder="Search by State" (keyup)="onKey($event.target.value)"/> -->
<!-- 		<input id="area" type="text" [(ngModel)]="this.sharedService.item.area" placeholder="Search by Practice area" (keyup)="onKey($event.target.value)"/> -->

      <select style="padding-top: 2px; padding-bottom: 2px;" id="state" name="state" [(ngModel)]="this.sharedService.item.state" (change)="onChange($event.target.value)">
      		<option disabled="true" value="" [selected]="!stateValue">Search by State</option>
            <option value="{{state.value}}" *ngFor="let state of states">{{state.name}}</option>
      </select>

		<select style="padding-top: 2px; padding-bottom: 2px;" id="area" name="area1" [(ngModel)]="this.sharedService.item.area" (change)="onChange($event.target.value)">
			<option disabled="true" value="" [selected]="!area1Value">Search by Practice area</option>
        	<option value="{{area.name}}" *ngFor="let area of areas">{{area.name}}</option>
     	</select>

		<span style="color: white">
		  &nbsp;Stars: <input type="radio" name="rating" value="5 Stars" [(ngModel)]="this.sharedService.item.fiveStar" (click)="selectRating()"> 5
	      <input type="radio" name="rating" value="4 Stars" [(ngModel)]="this.sharedService.item.fourStar" (click)="selectRating()"> 4  
	      <input type="radio" name="rating" value="3 Stars" [(ngModel)]="this.sharedService.item.threeStar" (click)="selectRating()"> 3  
	      <input type="radio" name="rating" value="2 Stars" [(ngModel)]="this.sharedService.item.twoStar" (click)="selectRating()"> 2  
	      <input type="radio" name="rating" value="1 Star"  [(ngModel)]="this.sharedService.item.oneStar" (click)="selectRating()"> 1  
		</span>
		<a style="color: white; font-size: 12px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>(Results: <a id="filterCount"></a>)</i></a>
		<button class="float-right" style="margin-right: 10px" (click)="clearAll()">Clear</button>
	</div>
  	<div #myVar *ngFor="let user of user2 | attorneyFilter: this.sharedService.item.name: this.sharedService.item.city: this.sharedService.item.state: this.sharedService.item.area: this.sharedService.item.fiveStar: this.sharedService.item.fourStar: this.sharedService.item.threeStar: this.sharedService.item.twoStar: this.sharedService.item.oneStar; let i = index; let l = last">

    <!-- used for getting the count on fitered results -->
	<span  *ngIf="l" id="user2FilterCount" innerHtml="{{i+1}}" style="display: none"></span>

  	<!-- attn with rating 3 or above -->
  	<div *ngIf="user.overallRating >= 3 || user.overallRating === 0" class="row animate-bottom pg-review-style">
  		<div class="col-md-3 text-center">
	        <div>
	  			<img style="width: 30%" [src]="user.image" alt="profile pic">
	        </div>
	        <br>
	        <div class="text-center">
	            <p><b>{{user.firstName}} {{user.lastName}}</b></p>
	        </div>
		</div>
  		<div class="col-md-6 pg-vertical-line pg-vertical-line2 d-md-flex">
	  		<div class="row container">
	          	<div class="col-sm-6">
		            <label>Office Address</label>
		            <p>{{user.office}} <br> {{user.address}} <br> {{user.city}}, {{user.state}} <br>Tel: {{user.phone}} <br> {{user.site}}</p>
	        	</div>
	        	<div class="col-sm-6">
		            <label>Area of expertise</label>
		            <p>{{user.selectedValues[0]}} <br> {{user.selectedValues[1]}} <br> {{user.selectedValues[2]}}</p>
	            </div>
	  		</div>
  		</div>
  		  <div class="col-md-3">
  			<div class="text-center">
	          <h5 class="">Overall Rating:</h5>
	          <a *ngIf="user.overallRating === 0">
	            <span class="fa fa-star"></span>
	            <span class="fa fa-star"></span>
	            <span class="fa fa-star"></span>
	            <span class="fa fa-star"></span>
	            <span class="fa fa-star"></span>    
	          </a> 
	          <a *ngIf="user.overallRating === 1">
	            <span class="fa fa-star checked"></span>
	            <span class="fa fa-star"></span>
	            <span class="fa fa-star"></span>
	            <span class="fa fa-star"></span>
	            <span class="fa fa-star"></span>    
	          </a> 
	          <a *ngIf="user.overallRating === 2">
	            <span class="fa fa-star checked"></span>
	            <span class="fa fa-star checked"></span>
	            <span class="fa fa-star"></span>
	            <span class="fa fa-star"></span>
	            <span class="fa fa-star"></span>    
	          </a> 
	          <a *ngIf="user.overallRating === 3">
	            <span class="fa fa-star checked"></span>
	            <span class="fa fa-star checked"></span>
	            <span class="fa fa-star checked"></span>
	            <span class="fa fa-star"></span>
	            <span class="fa fa-star"></span>    
	          </a> 
	          <a *ngIf="user.overallRating === 4">
	            <span class="fa fa-star checked"></span>
	            <span class="fa fa-star checked"></span>
	            <span class="fa fa-star checked"></span>
	            <span class="fa fa-star checked"></span>
	            <span class="fa fa-star"></span>    
	          </a> 
	          <a *ngIf="user.overallRating === 5">
	            <span class="fa fa-star checked"></span>
	            <span class="fa fa-star checked"></span>
	            <span class="fa fa-star checked"></span>
	            <span class="fa fa-star checked"></span>
	            <span class="fa fa-star checked"></span>    
	          </a> 
			</div>
			<br>
          <div>
            <p class="text-center"><b><a routerLink="/user/reviews/{{user._id}}">{{user.reviewCount}} Review(s)</a></b></p>
            <p *ngIf="user.reviewCount === 0" class="text-center" style="font-size: 10.5px">Be the first to write a review for this attorney</p>
          </div>
  		</div>
  	</div>

	<!-- low rating attn -->
  	<div *ngIf="user.overallRating < 3 && user.overallRating !== 0" class="row animate-bottom pg-red-style">
  		<div class="col-md-3 text-center">
	        <div>
	  			<img style="width: 30%" [src]="user.image" alt="profile pic">
	        </div>
	        <br>
	        <div class="text-center">
	            <p><b>{{user.firstName}} {{user.lastName}}</b></p>
	        </div>
		</div>
  		<div class="col-md-6 pg-vertical-line pg-vertical-line2 d-md-flex">
	  		<div class="row container">
	          	<div class="col-sm-6">
		            <label>Office Address</label>
		            <p>{{user.office}} <br> {{user.address}} <br> {{user.city}}, {{user.state}} <br>Tel: {{user.phone}} <br> {{user.site}}</p>
	        	</div>
	        	<div class="col-sm-6">
		            <label>Area of expertise</label>
		            <p>{{user.selectedValues[0]}} <br> {{user.selectedValues[1]}} <br> {{user.selectedValues[2]}}</p>
	            </div>
	  		</div>
  		</div>
  		  <div class="col-md-3">
  			<div class="text-center">
	          <h5 class="">Overall Rating:</h5>
	          <a *ngIf="user.overallRating === 0">
	            <span class="fa fa-star"></span>
	            <span class="fa fa-star"></span>
	            <span class="fa fa-star"></span>
	            <span class="fa fa-star"></span>
	            <span class="fa fa-star"></span>    
	          </a> 
	          <a *ngIf="user.overallRating === 1">
	            <span class="fa fa-star checked"></span>
	            <span class="fa fa-star"></span>
	            <span class="fa fa-star"></span>
	            <span class="fa fa-star"></span>
	            <span class="fa fa-star"></span>    
	          </a> 
	          <a *ngIf="user.overallRating === 2">
	            <span class="fa fa-star checked"></span>
	            <span class="fa fa-star checked"></span>
	            <span class="fa fa-star"></span>
	            <span class="fa fa-star"></span>
	            <span class="fa fa-star"></span>    
	          </a> 
	          <a *ngIf="user.overallRating === 3">
	            <span class="fa fa-star checked"></span>
	            <span class="fa fa-star checked"></span>
	            <span class="fa fa-star checked"></span>
	            <span class="fa fa-star"></span>
	            <span class="fa fa-star"></span>    
	          </a> 
	          <a *ngIf="user.overallRating === 4">
	            <span class="fa fa-star checked"></span>
	            <span class="fa fa-star checked"></span>
	            <span class="fa fa-star checked"></span>
	            <span class="fa fa-star checked"></span>
	            <span class="fa fa-star"></span>    
	          </a> 
	          <a *ngIf="user.overallRating === 5">
	            <span class="fa fa-star checked"></span>
	            <span class="fa fa-star checked"></span>
	            <span class="fa fa-star checked"></span>
	            <span class="fa fa-star checked"></span>
	            <span class="fa fa-star checked"></span>    
	          </a> 
			</div>
			<br>
          <div>
            <p class="text-center"><b><a routerLink="/user/reviews/{{user._id}}">{{user.reviewCount}} Review(s)</a></b></p>
            <p *ngIf="user.reviewCount === 0" class="text-center" style="font-size: 12px">Be the first to write a review for this attorney</p>
          </div>
  		</div>
  	</div>

    </div>

</div>
