/* You can add global styles to this file, and also import other style files */
.b-img{
    background-image: url(app/image/abstractBldg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.pg-border{
    border-style: solid;
  border-width: 0px; 
  padding: 30px;
  background-color: white;
  width: 85%;
}
.pg-margin-top{
    margin-top: 150px;
}
.btn {padding:5px 60px 5px 60px;
  box-shadow: 3px 3px 5px grey;
}
.pg-text-white{color:white;margin-bottom: 0px}

.pg-vertical-line{border-left:1px solid #ccc;
  padding-left:1.5em;
  height:100%;
}

.pg-vertical-line2{border-right:1px solid #ccc;
  padding-left:.5em;
  padding-right:.1em;
  height:100%;
}

.pg-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 60px;
}
.pg-footer-padding{
    padding-bottom: 40px; 
  padding-top:25px;
}
.pg-small-alert{padding: 4px 4px}
label {
    font-weight: bold;
}
/*to make navbar menu scrollable on smallscreens*/
.pg{
    overflow-x:auto;
    -webkit-overflow-scrolling: touch; 
}
.pg-scrollable{
    max-width: 100%;
    height: 2.5rem;
    margin-top: .25rem;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    font-size: 1rem;
}
/*for dropdown menu on navbab*/
ul.pg > li {
    display :  inline-block;
}
ul.pg > li > ul{
    position : absolute;
}
ul.pg > li > ul li{
    display: none;
}
ul.pg li:active > ul > li {
    display: block;
}
/*to help footer stay at the bottom*/
#container {
   min-height:100%;
   position:relative;
}
#body {
   padding-bottom:345px;   /* Height of the footer */
}
/*to help display input of register page in the same line as label*/
.pg-form-control {
  display: inline;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.pg-add-btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

/*2.for auto complete search list*/
.ui-autocomplete {
max-height: 100px;
overflow-y: auto;
/* prevent horizontal scrollbar */
overflow-x: hidden;
}
/* IE 6 doesn't support max-height
* we use height instead, but this forces the menu to always be this tall
*/
* html .ui-autocomplete {
height: 100px;
}

img {
/*    border-radius: 50%;*/
    height: auto;
    width: 100%;
}


